body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

a {
  text-decoration: none;
  font-weight: 400;
  color: blue;
  transition: all 1s;
}

a:hover {
  font-weight: 600;
  color: #fff;
}

li {
  list-style: none;
}

header {
  padding: 6px;
  position: fixed;
  width: 100%;
  background: #fff;
  box-shadow: 3px 1px 6px 9px #ccc;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
